body {
	background-color: #5c5753;
	color: #fff;
	padding-top: 5%;
	display: flex;
    justify-content: center;
    align-items: center;
	font-size: 1rem;
}

@media screen and (min-width: 480px) and (min-height: 420px) {
    body {
        font-size: 1.5rem;
    }
}


@media screen and (min-width: 900px) and (min-height: 420px) {
	body {
        font-size: 2rem;
    }
}
